.rnd-quote__body{
    height: 200px;
}
.rnd-quote__title{
    width: 80%;
    height: 50%;
    font-family: Titillium Web, Helvetica, sans-serif;
    font-size: 1.6rem !important;
}
.rnd-quote__text{
    width: 90%;
    font-size: 2rem;
}
.rnd-quote__footer{
    width: 90%;
}